openapi: 3.2.0
info:
  title: Xendit Balance API
  description: Xendit is a payments infrastructure provider for Southeast Asia.
  version: '1.0'
  contact:
    name: Xendit
    url: https://www.xendit.co
servers:
- url: https://api.xendit.co
  description: Xendit production API (test and live keys select the environment)
security:
- basicAuth: []
tags:
- name: Balance
  description: Retrieve account balances by type and currency.
paths:
  /balance:
    get:
      operationId: getBalance
      tags:
      - Balance
      summary: Get balance
      description: Retrieves the balance of your Xendit account for a given account type and currency, optionally at a point in time.
      parameters:
      - name: account_type
        in: query
        required: false
        description: Account type to query.
        schema:
          type: string
          enum:
          - CASH
          - HOLDING
          default: CASH
      - name: currency
        in: query
        required: false
        description: ISO 4217 currency code.
        schema:
          type: string
          enum:
          - IDR
          - PHP
          - USD
          - VND
          - THB
          - MYR
          - SGD
          - EUR
          - GBP
          - HKD
          - AUD
      - name: at_timestamp
        in: query
        required: false
        description: ISO 8601 timestamp to query a historical balance.
        schema:
          type: string
          format: date-time
      - $ref: '#/components/parameters/ForUserId'
      responses:
        '200':
          description: The account balance.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Balance'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    Error:
      type: object
      properties:
        error_code:
          type: string
          description: Machine-readable Xendit error code, e.g. DATA_NOT_FOUND.
        message:
          type: string
    Balance:
      type: object
      properties:
        balance:
          type: number
          description: Current balance for the requested account type and currency.
  responses:
    Unauthorized:
      description: Missing or invalid API key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  parameters:
    ForUserId:
      name: for-user-id
      in: header
      required: false
      description: xenPlatform sub-account (Business ID) to act on behalf of.
      schema:
        type: string
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic authentication. Use your Xendit secret API key as the username and leave the password empty. The key is Base64-encoded into the Authorization header. Test keys and live keys select the environment.
