openapi: 3.2.0
info:
  title: Xendit Customers API
  description: Xendit is a payments infrastructure provider for Southeast Asia.
  version: '1.0'
  contact:
    name: Xendit
    url: https://www.xendit.co
servers:
- url: https://api.xendit.co
  description: Xendit production API (test and live keys select the environment)
security:
- basicAuth: []
tags:
- name: Customers
  description: Create and manage customer records.
paths:
  /customers:
    post:
      operationId: createCustomer
      tags:
      - Customers
      summary: Create a customer
      description: Creates a customer record (individual or business) for later use with a payments endpoint. Uses the api-version header (e.g. 2020-10-31).
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerInput'
      responses:
        '200':
          description: The created customer.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
    get:
      operationId: getCustomers
      tags:
      - Customers
      summary: List customers
      description: Retrieves the customers that match a given reference_id.
      parameters:
      - name: reference_id
        in: query
        required: true
        description: The merchant-supplied reference ID of the customer.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersion'
      responses:
        '200':
          description: An array of matching customers.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Customer'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /customers/{customer_id}:
    parameters:
    - name: customer_id
      in: path
      required: true
      description: The ID of the customer.
      schema:
        type: string
    get:
      operationId: getCustomerById
      tags:
      - Customers
      summary: Get a customer
      description: Retrieves a customer by ID. Modeled from Xendit's documented customer resource conventions.
      responses:
        '200':
          description: The requested customer.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateCustomer
      tags:
      - Customers
      summary: Update a customer
      description: Updates a customer record. Modeled from Xendit's documented customer resource conventions.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerInput'
      responses:
        '200':
          description: The updated customer.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    BadRequest:
      description: The request was invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Missing or invalid API key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Customer:
      allOf:
      - $ref: '#/components/schemas/CustomerInput'
      - type: object
        properties:
          id:
            type: string
          created:
            type: string
            format: date-time
          updated:
            type: string
            format: date-time
    Error:
      type: object
      properties:
        error_code:
          type: string
          description: Machine-readable Xendit error code, e.g. DATA_NOT_FOUND.
        message:
          type: string
    CustomerInput:
      type: object
      required:
      - reference_id
      - type
      properties:
        reference_id:
          type: string
        type:
          type: string
          enum:
          - INDIVIDUAL
          - BUSINESS
        individual_detail:
          type: object
          additionalProperties: true
        business_detail:
          type: object
          additionalProperties: true
        email:
          type: string
          format: email
        mobile_number:
          type: string
        description:
          type: string
        metadata:
          type: object
          additionalProperties: true
  parameters:
    ApiVersion:
      name: api-version
      in: header
      required: false
      description: Xendit API version date. The v3 Payments API (payment_requests, payment_tokens) expects 2024-11-11; the Customers API accepts dates such as 2020-10-31.
      schema:
        type: string
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic authentication. Use your Xendit secret API key as the username and leave the password empty. The key is Base64-encoded into the Authorization header. Test keys and live keys select the environment.
