openapi: 3.2.0
info:
  title: Xendit Refunds API
  description: Xendit is a payments infrastructure provider for Southeast Asia.
  version: '1.0'
  contact:
    name: Xendit
    url: https://www.xendit.co
servers:
- url: https://api.xendit.co
  description: Xendit production API (test and live keys select the environment)
security:
- basicAuth: []
tags:
- name: Refunds
  description: Refund successful payment requests.
paths:
  /refunds:
    post:
      operationId: createRefund
      tags:
      - Refunds
      summary: Create a refund
      description: Initiates a full or partial refund for a successful payment request.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefundInput'
      responses:
        '200':
          description: The created refund.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Refund'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /refunds/{refund_id}:
    parameters:
    - name: refund_id
      in: path
      required: true
      description: The ID of the refund.
      schema:
        type: string
    get:
      operationId: getRefundById
      tags:
      - Refunds
      summary: Get a refund
      description: Retrieves a refund by ID. Modeled from Xendit's documented refund resource conventions.
      responses:
        '200':
          description: The requested refund.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Refund'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  schemas:
    Error:
      type: object
      properties:
        error_code:
          type: string
          description: Machine-readable Xendit error code, e.g. DATA_NOT_FOUND.
        message:
          type: string
    RefundInput:
      type: object
      required:
      - payment_request_id
      - reason
      properties:
        payment_request_id:
          type: string
          description: The successful payment request to refund.
        reason:
          type: string
          enum:
          - FRAUDULENT
          - DUPLICATE
          - REQUESTED_BY_CUSTOMER
          - CANCELLATION
          - OTHERS
        amount:
          type: number
          description: Amount to refund; omit for a full refund.
        currency:
          type: string
        reference_id:
          type: string
    Refund:
      type: object
      properties:
        refund_id:
          type: string
        payment_request_id:
          type: string
        status:
          type: string
          enum:
          - PENDING
          - SUCCEEDED
          - FAILED
          - CANCELLED
        amount:
          type: number
        currency:
          type: string
        reason:
          type: string
        created:
          type: string
          format: date-time
  responses:
    BadRequest:
      description: The request was invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Missing or invalid API key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic authentication. Use your Xendit secret API key as the username and leave the password empty. The key is Base64-encoded into the Authorization header. Test keys and live keys select the environment.
