openapi: 3.2.0
info:
  title: Xendit Payment Tokens API
  description: Xendit is a payments infrastructure provider for Southeast Asia.
  version: '1.0'
  contact:
    name: Xendit
    url: https://www.xendit.co
servers:
- url: https://api.xendit.co
  description: Xendit production API (test and live keys select the environment)
security:
- basicAuth: []
tags:
- name: Payment Tokens
  description: Save reusable payment methods for future and recurring charges.
paths:
  /v3/payment_tokens:
    post:
      operationId: createPaymentToken
      tags:
      - Payment Tokens
      summary: Create a payment token
      description: Saves an end user's payment method as a reusable payment token for future transactions. Requires the api-version header set to 2024-11-11.
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/ForUserId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentTokenInput'
      responses:
        '201':
          description: The created payment token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentToken'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    Error:
      type: object
      properties:
        error_code:
          type: string
          description: Machine-readable Xendit error code, e.g. DATA_NOT_FOUND.
        message:
          type: string
    PaymentTokenInput:
      type: object
      required:
      - reference_id
      - country
      - currency
      - channel_code
      properties:
        reference_id:
          type: string
        country:
          type: string
        currency:
          type: string
        channel_code:
          type: string
          description: Payment channel provider code, e.g. DANA, OVO, GCASH.
        channel_properties:
          type: object
          additionalProperties: true
        customer_id:
          type: string
    PaymentToken:
      type: object
      properties:
        payment_token_id:
          type: string
        reference_id:
          type: string
        channel_code:
          type: string
        status:
          type: string
          enum:
          - REQUIRES_ACTION
          - PENDING
          - ACTIVE
          - FAILED
          - EXPIRED
          - CANCELED
        created:
          type: string
          format: date-time
  parameters:
    ForUserId:
      name: for-user-id
      in: header
      required: false
      description: xenPlatform sub-account (Business ID) to act on behalf of.
      schema:
        type: string
    ApiVersion:
      name: api-version
      in: header
      required: false
      description: Xendit API version date. The v3 Payments API (payment_requests, payment_tokens) expects 2024-11-11; the Customers API accepts dates such as 2020-10-31.
      schema:
        type: string
  responses:
    BadRequest:
      description: The request was invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Missing or invalid API key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic authentication. Use your Xendit secret API key as the username and leave the password empty. The key is Base64-encoded into the Authorization header. Test keys and live keys select the environment.
